﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SquadManager.Models.UserViewModel

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Autenticação</h1>
    <form>
        <input type="text" name="email" value="" placeholder="Username/E-mail"/>
        <input type="password" name="password" value="" placeholder="Password"/>
        <a href="#">Esqueceu a senha</a>
        <button>Login</button>
    </form>
    <label>Não tem conta? <a href="#">Clique aqui!</a></label>
</section>